Repository sthagen/rvben-rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-lock-check: any of: ^Cargo\.(toml|lock)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^Cargo\.(toml|lock)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$

feat(rules): re-gate Pandoc-syntax skips on is_pandoc_compatible()
  src/rules/md022_blanks_around_headings.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/rules/md038_no_space_in_code.rs
  src/rules/md040_fenced_code_language.rs
  src/rules/md042_no_empty_links.rs
  src/rules/md051_link_fragments.rs
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

refactor(utils): rename quarto_divs module to pandoc
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/rules/md022_blanks_around_headings.rs
  src/rules/md031_blanks_around_fences.rs
  src/rules/md032_blanks_around_lists.rs
  src/utils/mod.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(lint_context): gate Pandoc pre-pass on is_pandoc_compatible()
  src/filtered_lines.rs
  src/lint_context/line_computation.rs
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/lint_context/types.rs
  src/rules/md012_no_multiple_blanks.rs
  src/rules/md041_first_line_heading/mod.rs
  tests/formats/quarto_comprehensive_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect subscripts and superscripts
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect implicit header references
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect grid tables
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md040): accept Pandoc {.class} code attributes as language declaration
  docs/flavors/pandoc.md
  docs/flavors/quarto.md
  src/rules/md040_fenced_code_language.rs
  src/utils/pandoc.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(pandoc): exclude link labels from citation detection
  src/rules/md042_no_empty_links.rs
  src/rules/md051_link_fragments.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md038): keep checking inner whitespace on attributed code spans
  docs/flavors.md
  docs/flavors/pandoc.md
  src/rules/md038_no_space_in_code.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md029): skip Pandoc example-list markers under Pandoc-compatible flavor
  src/rules/md029_ordered_list_prefix.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md034): skip URLs inside Pandoc line blocks and metadata
  src/rules/md034_no_bare_urls.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(rules): document Pandoc construct reachability for MD055/056/058/060/075
  src/rules/md055_table_pipe_style.rs
  src/rules/md056_table_column_count.rs
  src/rules/md058_blanks_around_tables.rs
  src/rules/md060_table_format/mod.rs
  src/rules/md075_orphaned_table_rows.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md051): emit Pandoc auto_identifiers suffix slugs for duplicate headings
  docs/flavors/pandoc.md
  src/rules/md051_link_fragments.rs
  src/utils/pandoc.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

docs(flavors): add Pandoc flavor documentation
  docs/flavors/pandoc.md
Due: rumdl

docs(quarto): note that Quarto extends Pandoc
  docs/flavors/quarto.md
Due: rumdl

feat(pandoc): add is_pandoc_raw_block_lang helper
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md042): document parser-level exclusion of Pandoc inline footnotes, example refs, and implicit header refs
  src/rules/md042_no_empty_links.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md037): skip Pandoc sub/superscripts and bracketed spans
  src/rules/md037_spaces_around_emphasis.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md051,md052): handle Pandoc implicit header refs and divergent slugs
  src/lint_context/mod.rs
  src/rules/md051_link_fragments.rs
  src/rules/md052_reference_links_images.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md038): skip Pandoc inline code attribute syntax
  src/rules/md038_no_space_in_code.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

docs(flavors): describe parser-level exclusions accurately
  docs/flavors.md
  docs/flavors/pandoc.md
Due: rumdl

fix(pandoc): require citation `@` to sit at a citation boundary
  src/rules/md042_no_empty_links.rs
  src/rules/md051_link_fragments.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md040): accept Pandoc {=format} raw blocks; keep {r}/{python} Quarto-only
  src/rules/md040_fenced_code_language.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

docs(flavors): list Pandoc flavor in overview
  docs/flavors.md
Due: rumdl

chore: clippy and fmt cleanup after Pandoc flavor wiring
  src/lint_context/tests.rs
  src/rules/md037_spaces_around_emphasis.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(server): resolve clap --config arg collision causing panic
  src/commands/server.rs
  src/main.rs
  tests/cli/cli_integration_tests.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

chore: bump version to v0.1.88
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(md055): normalize style config to snake_case so kebab-case values are applied
  src/rules/md055_table_pipe_style.rs
  src/rules/md055_table_pipe_style/md055_config.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(flavor): add AzureDevOps flavor variant with colon code fence support
  src/config/flavor.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(md055): strengthen kebab-case regression tests for completeness
  src/rules/md055_table_pipe_style.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(flavor): add missing MDX assertion in supports_colon_code_fences test
  src/config/flavor.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(lint_context): add colon fence detection for Azure DevOps flavor
  src/lint_context/flavor_detection.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(lint_context): wire Azure DevOps colon fence detection and extend code_blocks
  rumdl.schema.json
  src/lint_context/mod.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md031): enforce blank lines around Azure DevOps colon code fences
  src/rules/md031_blanks_around_fences.rs
  tests/formats/azure_devops_test.rs
  tests/formats/mod.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(md055): close remaining gaps in config deserialization coverage
  src/rules/md055_table_pipe_style/md055_config.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md046): skip colon fence lines in style detection for Azure DevOps flavor
  src/rules/md046_code_block_style.rs
  tests/formats/azure_devops_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md048): skip colon fence lines in style detection for Azure DevOps flavor
  src/rules/md048_code_fence_style.rs
  tests/formats/azure_devops_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(cli): add azure_devops flavor aliases to CLI tests
  src/cli_types.rs
  tests/cli/cli_flavor_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(azure_devops): add integration and flavor isolation tests
  tests/formats/azure_devops_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(azure_devops): assert MD013 fires in Pandoc fenced div for flavor isolation test
  tests/formats/azure_devops_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check
