Repository sthagen/rvben-rumdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-lock-check, actionlint, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

cargo-fmt:
  name: cargo fmt
  entry: mise exec -- cargo fmt --all --
  language: system
  pass_filenames: false

cargo-lock-check:
  name: check Cargo.lock is up-to-date
  entry: sh -c 'cargo metadata --locked --format-version 1 --no-deps >/dev/null'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

actionlint:
  name: actionlint (GitHub Actions)
  entry: actionlint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

rumdl:
  name: rumdl check
  entry: cargo run --quiet -- check
  language: system
  pass_filenames: true
  require_serial: true

cargo-test-full:
  name: cargo test (full suite)
  entry: mise exec -- make test-push
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lint-full:
  name: cargo clippy (all targets)
  entry: mise exec -- make lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-doc-check:
  name: cargo doc (check)
  entry: mise exec -- cargo doc --no-deps --all-features
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-lock-check-push:
  name: verify Cargo.lock is committed and up-to-date
  entry: sh -c 'cargo metadata --locked --format-version 1 --no-deps >/dev/null'
  language: system
  pass_filenames: false
  stages:
  - pre-push

complexity-check:
  name: check for O(nÂ²) regressions
  entry: mise exec -- make test-complexity
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-check:
  name: check JSON schema is up-to-date
  entry: mise exec -- make check-schema
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(md054): include trailing `[]` in collapsed link span
  src/lint_context/link_parser.rs
  src/rules/md054_link_image_style.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md060): add aligned-delimiter option for markdownlint parity
  docs/md060.md
  src/rules/md060_table_format/md060_config.rs
  src/rules/md060_table_format/mod.rs
  tests/rules/md060_test.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(config): fall back to cwd when normalizing per-file glob paths
  src/config/tests.rs
  src/config/types.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md013): preserve tables nested inside list items during reflow
  src/rules/md013_line_length/mod.rs
  tests/formats/md013_reflow_integration_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(md013): expand table-in-list-item regression coverage
  tests/formats/md013_reflow_integration_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

test(config): cover cwd-fallback and globset round-trip for path normalize
  src/config/tests.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(config): log when normalize_match_path falls back to raw absolute path
  src/config/types.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md013): require GFM table evidence before classifying list-item line
  src/rules/md013_line_length/mod.rs
  tests/formats/md013_reflow_integration_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

refactor(md013): extract BlockBuilder into dedicated submodule
  src/rules/md013_line_length/block_builder.rs
  src/rules/md013_line_length/mod.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

perf(config): cache canonical project_root and harden silent-fallback diagnostic
  Cargo.toml
  benches/config_per_file_lookup.rs
  src/config/tests.rs
  src/config/types.rs
Due: cargo-fmt, cargo-lock-check, cargo-test-full, cargo-lint-full, cargo-doc-check, cargo-lock-check-push, complexity-check, schema-check

fix(config): initialize canonical_project_root_cache in From impl
  src/config/loading.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md027): add list-items option for opt-in markdownlint parity
  docs/markdownlint-comparison.md
  docs/md027.md
  src/rules/md027_multiple_spaces_blockquote.rs
  tests/character_ranges/mod.rs
  tests/integration/rules_mod_test.rs
  tests/perf/malformed_markdown_stress_tests.rs
  tests/perf/perf_regression_issue_148.rs
  tests/perf/performance_validation_tests.rs
  tests/rules/formatter_idempotency_test.rs
  tests/rules/formatter_proptest.rs
  tests/rules/md027_test.rs
  tests/unicode/utf8_comprehensive_stress_test.rs
  tests/vscode/vscode_extension_fixes.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md033): add table-allowed-elements option for markdownlint parity
  docs/md033.md
  src/lint_context/mod.rs
  src/rules/md033_no_inline_html.rs
  src/rules/md033_no_inline_html/md033_config.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md013): add heading-line-length, code-block-line-length, stern
  docs/markdownlint-comparison.md
  docs/md013.md
  src/rules/md013_line_length/helpers.rs
  src/rules/md013_line_length/md013_config.rs
  src/rules/md013_line_length/mod.rs
  src/rules/md013_line_length/tests.rs
  tests/formats/sentence_per_line_test.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(md051): add ignore-case and ignored-pattern for markdownlint parity
  docs/markdownlint-comparison.md
  docs/md051.md
  src/rules/md051_link_fragments.rs
  src/rules/mod.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md051): unify ignore-case and ignored-pattern across same-doc and cross-file paths
  src/rules/md051_link_fragments.rs
  src/workspace_index.rs
  tests/rules/md051_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

chore: clean up clippy warnings and fix bench compile
  benches/fix_performance.rs
  src/rules/md060_table_format/mod.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

chore: bump version to v0.1.85
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

feat(cli): support inline TOML overrides via --config
  README.md
  docs/cli-config-overrides.md
  docs/global-settings.md
  src/cli_config_override.rs
  src/commands/check.rs
  src/commands/config.rs
  src/config/mod.rs
  src/config/parsers.rs
  src/main.rs
  src/watch.rs
  tests/cli/cli_config_override_test.rs
  tests/cli/mod.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

chore: bump version to v0.1.86
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(MD013): keep closing quote with parenthetical splits (#601)
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(MD038): preserve spaces around nested backticks (#605)
  src/rules/md038_no_space_in_code.rs
  tests/rules/md038_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(code-block-tools): use yamlfmt lint mode for YAML (#606)
  src/code_block_tools/registry.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(config): fall back to ~/.rumdl.toml and ~/rumdl.toml as user config
  README.md
  src/config/loading.rs
  src/config/tests.rs
  tests/config/config_tests.rs
Due: cargo-fmt, rumdl, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

chore: bump version to v0.1.87
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  npm/cli-darwin-arm64/package.json
  npm/cli-darwin-x64/package.json
  npm/cli-linux-arm64-musl/package.json
  npm/cli-linux-arm64/package.json
  npm/cli-linux-x64-musl/package.json
  npm/cli-linux-x64/package.json
  npm/cli-win32-x64/package.json
  npm/rumdl/package.json
Due: cargo-lock-check, cargo-lock-check-push

fix(MD013): preserve wildcard asterisks during reflow (#604)
  src/utils/text_reflow.rs
  tests/utils/text_reflow_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(MD009): allow br_spaces on paragraph lines in strict mode
  src/rules/md009_trailing_spaces.rs
  tests/rules/md009_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

refactor(MD009): tighten strict-mode br_spaces gate to mirror markdownlint
  src/lint_context/types.rs
  src/rules/md009_trailing_spaces.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

fix(md063): keep numeric ordinals lower-cased in title case
  src/rules/md063_heading_capitalization/mod.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect bracketed spans
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect multi-block YAML metadata
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect inline code attribute syntax
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect pipe-table captions
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect multi-line tables
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(cli): accept --flavor pandoc
  src/cli_types.rs
  tests/cli/cli_flavor_test.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(flavor): add is_pandoc_compatible() helper
  src/config/flavor.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect line blocks
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect example lists and references
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(flavor): add Pandoc variant to MarkdownFlavor
  rumdl.schema.json
  src/config/flavor.rs
  src/wasm.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

feat(pandoc): detect inline footnotes ^[note]
  src/lint_context/mod.rs
  src/lint_context/tests.rs
  src/utils/pandoc.rs
Due: cargo-fmt, cargo-test-full, cargo-lint-full, cargo-doc-check, complexity-check, schema-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-lock-check: any of: ^Cargo\.(toml|lock)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  rumdl: any of: \.md$, but not: ^(test_tmp|benchmark/test-data|docs/temp|__tests__|CHANGELOG\.md)
  cargo-test-full: any of: \.rs$
  cargo-lint-full: any of: \.rs$
  cargo-doc-check: any of: \.rs$
  cargo-lock-check-push: any of: ^Cargo\.(toml|lock)$
  complexity-check: any of: \.rs$
  schema-check: any of: \.rs$
